body {
  background: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
} 
.weather-app {
  background-color: rgba(255, 255, 255, 0.3);
  max-width: 600px;
  margin: 45px auto;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.2);
  padding: 30px;
}
.search-form-input {
  background-color: #e8ebf9;
  border: none;
  border-radius: 7px;
  padding: 10px 15px;
  font-size: 16px;
  width: 80%;
}
.search-form-button {
  background-color: #a5609b;
  color: #e8ebf9;
  border: none;
  padding: 10px 25px;
  border-radius: 7px;
  margin-left: 5px;
  font-size: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.2);
}
.search-form-button:hover {
  opacity: 0.9;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.weather-app-data {
  display: flex; 
  justify-content: space-between;
}
.weather-app-city {
  color: #424874;
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);

}
.weather-app-details strong {
  color: #424874;
}
.weather-app-temperature-container {
  display: flex;
  color: rgba(0, 0, 0, 0.8);
}
.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}
.weather-app-icon {
  width: 88px;
  height: 88px;
}
.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}
header {
  border-bottom: 1px solid #e8ebf9;
  padding-bottom: 30px;
}
footer {
  border-top: 1px solid #e8ebf9;
  padding-top: 30px;
  font-size: 13px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
a {
  color: #a5609b;
  font-weight: 500;
}